.used-content-container {
  color: white;
  font-size: 25px;
  text-align: center;
}
.used-content-list > span {
  display: inline-block;
  margin: 5px 10px;
}
.latest-pick {
  display: block;
  font-weight: bold;
  color: orangered;
  font-size: 60px;
}
.used-content-list > span:last-child {
  color: orangered;
  font-weight: bold;
}

.used-content-container .button {
  margin: 20px auto;
}
